# next.js build output
.next

# Dependency directories
node_modules/

public/youn.mp4

package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

skynet-1577ccb40f1d.json

output/*

.env