# next.js build output
.next

# Dependency directories
node_modules/

public/*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

client_secret_122588938995-kpckh72dt7cv4pskr7869iaeic607i7l.apps.googleusercontent.com.json
